.card {
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: $base-box-shadow;
    p {
        &:last-child {
            margin: 0;
        }
    }
    header {
        > * {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}
