.nav {
    display: flex;
    min-height: 5rem;
    align-items: stretch;
    img {
        max-height: 3rem;
    }
    > .container {
        display: flex;
    }
}

.nav-center,
.nav-left,
.nav-right {
    display: flex;
    flex: 1;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-center {
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .nav,
    .nav > .container {
        flex-direction: column;
    }
    .nav-center,
    .nav-left,
    .nav-right {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.nav {
    a,
    .brand {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        color: #555;
    }
    .brand {
        font-size: 1.75em;
        padding-top: 0;
        padding-bottom: 0;
        img {
            padding-right: 1rem;
        }
    }
    .active:not(.button) {
        color: #000; /* fallback */
        color: $primary-color;
    }
    .button {
        margin: auto 1rem;
    }
}
