.tabs {
    display: flex;
    > a {
        padding: 1rem 2rem;
        flex: 0 1 auto;
        color: #555;
        border-bottom: 2px solid $lightGrey-color;
        text-align: center;
        &.active,
        &:hover {
            opacity: 1;
            border-bottom: 2px solid #555;
        }
        &.active {
            border-color: $primary-color;
        }
    }
    a {
        text-decoration: none;
    }
    &.is-full a {
        flex: 1;
    }
}
