$primary-color: #1a9f60;
$lightGrey-color: #d2d6dd;
$darkGrey-color: #84868b;
$grid-maxWidth: 120rem;
$grid-gutter: 2rem;
$font-family: -apple-system, BlinkMacSystemFont, Avenir, 'Avenir Next', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$monospace-font-family: monaco, 'Consolas', 'Lucida Console', monospace;
